
body {
  margin: 0;
  font-family: 'Graduate', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height:100%;
  background:url('./grass.jpeg') rgb(27, 73, 4);
  background-size: cover;
  background-blend-mode: multiply;
  background-attachment: fixed;
  display:flex; 
  flex-direction:column; 
  justify-content:center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
